*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    min-height: 10vh;
    background-color: #660074e8;
}
.imagen-logo{
    width: 8rem !important;
}

main{
    min-height: 80vh;
    background-color: rgba(226, 215, 202, 0.877); 
    background-image: url(../css/imagenes/5403537.jpg);
    /* background-image: url(../css/imagenes/5039684.jpg); */
    background-position-x: 10%;
    object-fit: contain;
}
#text-color{
  color:  #dc1bee;
}
.mainTarjeta{
  min-height: 50vh !important;
}
ul{
    margin: 0!important;
}
.titulo-tabla{
    background-color: #f02fd6bb!important;
 }

 footer{
    min-height: 10vh;
    background-color: #660074e8;
 }

.DEBIT{
    color: red;
}
.CREDIT{
    color: green;
}
.GOLD{
background-color: rgb(197, 197, 20) !important;
}
.TITANIUM{
background-color: rgb(85, 80, 80) !important;
}
.SILVER{
background-color: rgb(143, 138, 138) !important;
}
.titulos{
  font-family: 'Alata', sans-serif;
  text-decoration: underline;
  
}
.logo-red-social{
  width: 5rem;
}
.link-footer{
  text-decoration: none;
  color: #000;

}
/* ----------- navegacion ---------- */

.button-nav {
  background: #fff5;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
}

.span {
  display: inline-block;
  text-decoration: none;
  color: #171717;
  transform: skew(21deg);
}

.button-nav::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: #520434;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.button-nav:hover a{
  color: #fff;
}

.button-nav:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

/*---------- Accounts ----------*/
.imagenBotonMas{
  width: 2rem;
}
.accounts{
  flex-wrap: wrap;
  flex-direction: row !important;
}
.container-account {
  width: 30rem;
  height: 20rem;
  background: transparent;
  position: relative; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
  overflow: hidden;
  border-radius: 10px;
}

.card-account {
  cursor: default;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #cb96ee;
  background-color: rgba(255, 255, 255, 0.13);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  transition: all ease .3s;
}

.container-account::after,
.container-account::before {
  width: 100px;
  height: 100px;
  content: '';
  position: absolute;
  border-radius: 50%;
  transition: .5s linear;
}

.container-account::after {
  top: -20px;
  left: -20px;
  background-color: rgba(125, 214, 66, 0.664);
  animation: animFirst 5s linear infinite;
}

.container-account::before {
  background-color: #0097b2b0;
  top: 70%;
  left: 70%;
  animation: animSecond 5s linear infinite;
  animation-delay: 3s;
}

.container-account:hover {
  box-shadow: 0px 0px 25px rgba(0, 77, 32, 0.473)
}

.container-account:hover::after {
  left: 80px;
  transform: scale(1.2);
}

.container-account:hover::before {
  left: -10px;
  transform: scale(1.2);
}
.table{
  box-shadow: 2px 3px 3px 3px rgb(209, 79, 198);
}
/*---------- transacciones ----------*/
.img-logo-back{
  width: 5rem;
}
/*---------- tarjetas ----------*/

.flip-card {
  background-color: transparent;
  width: 240px;
  height: 154px;
  perspective: 1000px;
}

.heading_8264 {
  position: absolute;
  letter-spacing: .2em;
  font-size: 0.5em;
  top: 2em;
  left: 18.6em;
}

.logo {
  position: absolute;
  top: 6.8em;
  left: 11.7em;
}

.chip {
  position: absolute;
  top: 2.3em;
  left: 1.5em;
}

.contactless {
  position: absolute;
  top: 3.5em;
  left: 12.4em;
}

.number {
  position: absolute;
  font-weight: bold;
  font-size: .9em;
  top: 5.6em;
  left: 1.2em;
}

.valid_thru {
  position: absolute;
  font-weight: bold;
  top: 6.5rem;
  font-size: .8em;
  left: 1.4em;
}

.date_8264 {
  position: absolute;
  font-weight: bold;
  font-size: 0.7em;
  top: 9.5em;
  left: 5em;
}

.name {
  position: absolute;
  font-weight: bold;
  font-size: 0.9em;
  top: 8.6em;
  left: 1.2em;
}

.strip {
  position: absolute;
  background-color: black;
  width: 15em;
  height: 1.5em;
  top: 2.4em;
  background: repeating-linear-gradient(
    45deg,
    #303030,
    #303030 10px,
    #202020 10px,
    #202020 20px
  );
}

.mstrip {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 8em;
  height: 1.4em;
  top: 5em;
  left: .8em;
  border-radius: 2.5px;
}

.sstrip {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 4.1em;
  height: 1.4em;
  top: 5em;
  left: 10em;
  border-radius: 2.5px;
}

.code {
  font-weight: bold;
  text-align: center;
  margin: .2em;
  color: black;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-front {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  background-color: #171717;
}

.flip-card-back {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  background-color: #171717;
  transform: rotateY(180deg);
}



/*---------- form de login ----------*/
.login-form{
   
   background-image: url(../css/imagenes/2766232.jpg);
  

} 
.fondo-login{
  background-color: #b658b6bd;
  
 
  /* background-image: url(../css/imagenes/5039684.jpg); */
}
.fondo-login-register{
  background: linear-gradient(to right, #8505cf, #e21b96 ) ;
  opacity: 100%;
  border-radius: 30px;
  /* background-image: url(../css/imagenes/5039684.jpg); */
}
.gradient-custom-2{
background: linear-gradient(to right, #8505cf, #e21b96 ) ;
 
}
#boton-crear{
  text-decoration: none;
  color: white;
}
/*---------- register ----------*/
#register-main{
  background-image: url(./imagenes/2766232.jpg);
  object-fit: cover;
  background-position-y: 50%;
  background-position-x: 30%;
  /* opacity: 70%; */

}

/*---------- Transfer ----------*/
.carrouselTransfer button{
  width: 9.5rem;
  background-color: rgba(47, 211, 121, 0.678);
}

.carrouselTransfer button:hover{
  background-color: rgba(47, 211, 121, 0.678);
}

.carrouselTransfer .buttons button{
  height: 5rem;
  border: 1px solid black;
  border-radius: 1rem;
}

.carrouselTransfer .buttons button img{
  width: 3rem;
}
.formTransfer{
width: 35rem;
}
#transfer-form{
  width: 80%;
  background-color: rgba(255, 255, 255, 0.482);
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
}
/* loans */
.tabla-loans{
  background-color: #cb96ee;
}
#main-cards{
display: flex;
    align-items: center;
    justify-content: center;
}
.cardtype{
  background-color: #cb96ee;
}


@media(max-width: 768px){
  .carrouselTransfer  {
    flex-direction: column ;
    justify-content: center;
    align-items: center;
  } 
  .buttons {
    align-items: center;
  }
  .cardtype{
    width: 90%;
    background-color: #cb96ee;
  }
  

 
 
}