<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styleWeb.css">
    <link rel="shortcut icon" href="../css/imagenes/c4fe889ee4828391ca985f831f8c0b80-mano-sosteniendo-la-bolsa-de-dinero.png" type="image/x-icon">
 
    <title>Account</title>
</head>
<body>
    <div id="app">
    <header >
        <div class="col pe-0">
            <nav class="navbar navbar-expand-lg bg-header navbar-dark">
                <div class="d-flex flex-wrap align-items-center ">
                    <img class="imagen-logo ms-auto me-auto" src="../css/imagenes/c4fe889ee4828391ca985f831f8c0b80-mano-sosteniendo-la-bolsa-de-dinero.png" alt="logo">
                    <h1> Mindhub | Brother <span id="text-color">  Bank</span> </h1>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                            <li class="nav-item">
                              <button class="button-nav">
                                <a class="span" href="../html/accounts.html">Accounts</a>
                            </button>
                            </li>
                            <li class="nav-item">
                              <button class="button-nav">
                                <a class="span " href="../html/cards.html">Cards</a>
                            </button>
                            </li>
                            <li class="nav-item">
                                <button class="button-nav">
                                  <a class="span " href="../html/transfers.html">Transfers</a>
                              </button>
                              </li>
                            <li class="nav-item">
                                <button class="button-nav">
                                    <a @click.prevent="logout" class="span " href="">Salir</a>
                                </button>>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fs-4" href="#"></a>
                            </li>
                        </ul>
                    </div>
                 </div> 
            </nav>
    
        </div>
     
    </header>
    <main >
        <div class="d-flex justify-content-center p-3">  
            <button class="bg-transparent">
                <img class="imagenBotonMas" src="../css/imagenes/mas.png" alt="">
                <h5 class="p-1" @click="creationAccount" href="">New Account</h5>
            </button>
        </div>
        <h2 class="text-center text-white p-3 fs-1"> Your <span id="text-color">Accounts</span></h2>
        <div class="accounts d-flex justify-content-evenly ">
            <template v-for="dato of datos.accounts" >
                <div class="container-account">
                    <div class="card-account gap-3"> 
                        <h3>{{dato.number}}</h3>
                        <h5>Balance : ${{dato.balance}}</h5>
                        <h5>Created : {{dato.creationDate.slice(0,10)}} {{dato.creationDate.slice(11,16)}}</h5>  
                        <h5><a class="btn " :href="'../html/account.html?id='+dato.id"> Transaction</a></h5> 
                    </div>

                </div>
            </template>
        </div>
        <!-- ---------------tabla------------------- -->
        <div class="d-flex gap-5 flex-column align-items-center ">
            
            <!-- <table class="table table-striped container m-0 m-auto">
                <tr>
                    <td colspan="2" class="titulo-tabla text-center text-white">FirstName</td>
                    <td colspan="2" class="titulo-tabla text-center text-white">LastName</td>
                    <td colspan="2"class="titulo-tabla text-center text-white">Accounts</td>
                    <td class="titulo-tabla text-center text-white">Balance</td>
                    <td class="titulo-tabla text-center text-white">Date</td>
                    <td class="titulo-tabla text-center text-white">Transaction</td>
                  </tr>
                  <tr v-for="dato of datos.accounts">
                    <td colspan="2" class="text-center">{{datos.firstName}}</td>
                    <td colspan="2" class="text-center">{{datos.lastName}}</td>
                    <td colspan="2" class="text-center">{{dato.number}}</td>
                    <td class="text-center"> {{dato.balance}}</td>
                    <td class="text-center"> {{dato.creationDate.slice(0,10)}} {{dato.creationDate.slice(11,16)}}</td>
                    
                    <td class="text-center"><a :href="./account.html> More </a></td>
                  </tr>
            </table> -->

            <div class="container" v-if=" loans.lenght != 0 ">
                <h2 class="text-center mt-5 mb-2 fs-1 text-white ">Loans</h2>
                <table class="table table-striped container m-0 m-auto mb-5">
                    <tr>
                        <td colspan="2" class="titulo-tabla text-center text-white fs-4">Name</td>
                        <td colspan="2" class="titulo-tabla text-center text-white fs-4">Amount</td>
                        <td colspan="2" class="titulo-tabla text-center text-white fs-4">Payments</td>
                      </tr>
                      <tr v-for="loan of loans">
                        <td colspan="2" class="text-center text-white fs-5">{{loan.name}}</td>
                        <td colspan="2" class="text-center text-white fs-5">${{loan.amount}}</td>
                        <td colspan="2" class="text-center text-white fs-5">{{loan.payments}}</td>
     
                      </tr>
                </table>
             </div> 
               <div v-else>
                    <h2> no hay nada </h2>
               </div> 
           <div class="pb-5">
            <button class="bg-transparent p-1">
                <img class="imagenBotonMas" src="../css/imagenes/mas.png" alt="">
                <a href="../html/loan-application.html"> Apply </a>
            </button>
           </div>
            


        </div>

    
    </main>
    <footer>
        <h4 class="text-center text-white p-3"> Cohort 44</h4>
        <!-- <a href="">Mariana Cuba </a> -->
    </footer>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../Js/accounts.js"></script>
</body>
</html>